
<div class ="header">
    <span class="title">添加手机</span>
	<button type="button" class="bntClose close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="subApp">
	
	
	<div class="submit">
		<label class="labelApp">名称</label>
		<input  class="inR form-control" ng-model="phone.name">
	</div>
	
	<div class="submit">
		<label class="labelApp">手机</label>
		<input  class="inR form-control" ng-model="phone.code">
	</div>
	
	<div class="subButton">
		<button class="btn btn-default" type="submit" ng-click ="submitAddPhone()" >提交</button>
	</div>
		
</div>	
	