
<div class ="header">
    <span class="title">修改用户密码</span>
	<button type="button" class="bntClose close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>



<div class="subApp">
	
	<div class="submit">
		<label class="labelApp">用户名</label>
		<input  class="inR form-control" id="newPasswordID" disabled="disabled">
	</div>
	
	<div class="submit">
		<label class="labelApp">原始密码</label>
		<input  class="inR form-control" id="oldPassword" type="password">
	</div>
	
	<div class="submit">
		<label class="labelApp">新密码</label>
		<input  class="inR form-control" id="newPassword" type="password">
	</div>	
	
	<div class="submit">
		<label class="labelApp">再输一遍</label>
		<input  class="inR form-control" id="newPasswordAgain" type="password">
	</div>
	
	<div class="subButton">
		<button class="btn btn-default" type="submit" ng-click =changePassword() >提交</button>
	</div>
		
</div>	
	