<div class="col">
	<label>年</label>
	<div class="col-sm-10 select">
		  <select class="form-control"  ng-model="modelYear">
			<option ng-repeat="year in yearArr" value="{{year}}" >{{year}}</option>
		  </select>
	</div>	
</div>	

<div class="col">
	<label>月</label>
	<div class="col-sm-10 select">
		  <select class="form-control" ng-model="monthValue">
			<option value="{{month}}" ng-repeat="month in monthArr">{{month}}</option>
			
		  </select>
	</div>	
</div>	



<div class="col">
	<button class="btn btn-default" type="submit" ng-click = "searchParam()">查询</button>
</div>	

<div class="col">
	<label>{{typeAdApp}}</label>
</div>