<div class="release" id="picReleasePage">

	
	
	<div class="rowLine header">
		<div class="bg divLine width40"><span class="num">{{header['order']}}</span></div>
		<div class="bg divLine width40"><span class="num">{{header['icon']}}</span></div>
		<div class="bg divLine width100"><span class="name">{{header['title']}}</span></div>
		<div class="bg divLine"><span class="position">{{header['country']}}</span></div>
		<div class="bg divLine"><span class="type">{{header['language']}}</span></div>
		<div class="bg divLine"><span class="position">{{header['display']}}</span></div>
		<div class="bg divLine"><span class="position">{{header['click']}}</span></div>
		
		<div class="bg divLine"><span class="type">{{header['up']}}</span></div>
		
		<div class="bg divLine"><span class="release">{{header['release']}}</span></div>
		
	</div>
	<div id="fsReleaseGrid">
		<div class="rowLine" ng-repeat="obj in releasePic" ng-class-odd="'bgeee'">
			<div class="divLine width40"><span class="num">{{$index + 1}}</span></div>
			<div class="divLine width40 hpoint" ng-click="clickImage(obj)"><img class="imagePhone" ng-src={{obj['png_path']}} ></div>
			<div class="divLine width100 hpoint" ng-click = "showDetail(obj)"><span class="name" >{{obj['title']}}</span></div>
			<div class="divLine"><span class="type">{{obj['country']}}</span></div>
			<div class="divLine"><span class="developer">{{obj["language"]}}</span></div>
			<div class="bg divLine hpoint" ng-click=display(obj)><span class="position"  >{{obj['display']}}</span></div>
			<div class="divLine hpoint" ng-click=getCount(obj)><span class="type" >{{obj['click']}}</span></div>
			
			<div class="divLine"><span class="developer">{{obj["up"]}}</span></div>
			<div class="divLine"><button type="button" ng-click=soldOut(obj) class="btn btn-info" >下架</button></div>
		</div>
	</div>
</div>	