<div ng-include="'partials/changePassword.html'" id="changePassword"  style="display:none ;position:absolute" ng-controller="changePass"></div>
    	
		<div ng-include="'partials/addUser.html'" id="userPage" style="display:none ;position:absolute" ng-controller="addUser"></div>
    	<div ng-include="'partials/newApp.html'" id="addAppSubmit" style="display:none ;position:absolute" ng-controller="newApp"></div>
		<div ng-include="'partials/showDetail.html'" id="showDetail" style="display:none ;position:absolute" ng-controller="showDetail"></div>
		<div ng-include="'partials/phone.html'" id="phonePanel" style="display:none ;position:absolute ;border:none ;background:none;" ng-controller="phoneCon"></div>
		
		<div ng-include="'partials/downChart.html'" id="downChart" style="display:none ;position:absolute ;border:none ;background:none;" ng-controller="downChart"></div>	
		
		<div ng-include="'partials/titleBar.html'" id="titleBar" style="display:none ;position:absolute ;border:none ;background:none;" ng-controller="titleBar"></div>
		<div ng-include="'partials/addNewPic.html'" id="addNewPic" style="display:none ;position:absolute ;border:none ;background:none;" ng-controller="addNewPic"></div>
		<div ng-include="'partials/upload.html'" id="uploadFileAll" style="display:none ;position:absolute ;border:none ;background:none;" ng-controller="uploadFile"></div>
		<div ng-include="'partials/addPhone.html'" id="addPhone" style="display:none ;position:absolute ;border:none ;background:none;" ng-controller="addPhone"></div>
		<div>
			<ng-atomic-notify></ng-atomic-notify>
		</div>												
</div> 