<div class="subApp">
	
	<div class="submit">
		<label class="labelApp">渠道</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="华为" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">目标国家</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="美国" readonly>
	</div>
	
	<div class="submit" style="margin-top:20px">
		<label class="labelApp">名称</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="微信" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">类别</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="工具" readonly>
	</div>	
	
	<div class="submit">
		<label class="labelApp">开发者</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="腾讯" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">描述</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="熟人社交工具" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">ICON图(上传)</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="图片" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">资源目标</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="wwww" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">大小</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="4.3M" readonly>
	</div>	
	
	<div class="submit" style="margin-top:20px">
		<label class="labelApp" >应用墙位置</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="8" readonly>
	</div>
	<div class="submit">
		<label class="labelApp">价格</label>
		<input class="inR" style="background:transparent; border:0px solid #ffffff ;margin-left:25px" value="21" readonly>
	</div>
	
	<div class="submit">
		<label class="labelApp">下架时间</label>
		<input  class="inR form-control">
	</div>
	
	<div class="submit">
		<label class="labelApp">下架原因</label>
		<input  class="inR form-control">
	</div>
	
	<div class="subButton">
		<button class="btn btn-default" type="submit">提交</button>
	</div>
		
</div>	
	