<div class="release" id="soldoutControlPage">

	<div class="rowLine header">
		<div class="bg divLine width40"><span class="num">{{header['order']}}</span></div>
		<div class="bg divLine width40"><span class="num">{{header['icon']}}</span></div>
		<div class="bg divLine width100"><span class="name">{{header['name']}}</span></div>
		<div class="divLine"><span class="position">{{header['channel']}}</span></div>
		<div class="bg divLine"><span class="type">{{header['type']}}</span></div>
		<div class="bg divLine"><span class="state">{{header['off']}}</span></div>
		<div class="bg divLine"><span class="download">{{header['down']}}</span></div>
		<div class="bg divLine"><span class="size">{{header['size']}}</span></div>
		<div class="bg divLine"><span class="price">操作</span></div>
	</div>
	
	<div id="soldoutGrid">
		<div class="rowLine" ng-repeat="obj in soldoutApp" ng-class-odd="'bgeee'" >
			<div class="divLine width40"><span class="num">{{$index + 1}}</span></div>
			<div class="divLine width40"><img class="image" ng-src={{obj['icon_path']}}></div>
			<div class="divLine width100 hpoint"><span class="name" ng-click=detailDbclick($index)>{{obj['name']}}</span></div>
			<div class="divLine"><span class="position">{{obj['channel']}}</span></div>
			<div class="divLine"><span class="type">{{obj['type']}}</span></div>
			<div class="divLine"><span class="state">{{obj['off']}}</span></div>
			<div class="divLine hpoint" ng-click=showDownPanel($index)><span class="download"  >{{obj["down"]}}</span></div>
			<div class="divLine"><span class="size">{{obj['size']}}</span></div>
			<div class="divLine"><button type="button" class="btn btn-info" ng-click="putaway(obj)">上架</button></div>	
			<div class="divLine"><button type="button" class="btn btn-info" ng-click="delApk(obj)">删除</button></div>
			
		</div>
	</div>
</div>	